<div class="col-sm-12 section-1 section-1-img">
	<div class='container'>
		<h1 class='text-center setion-1-text-center'>India's No.1 Property Site</h1>
		<h3 class='text-center'>1<sup>st</sup>&nbsp;Choice of 15 Lac + Buyers</h3>
	</div>
</div>
<div class='container'>
	<div class='col-sm-12'>
		<h1 class='text-center'>
		  <span class='section-2-property-heading '>Properties</span>
		</h1>
	</div>
	<div class='col-sm-12 section-2-property-details'>
		<div class='media'>
			<div class='media-left media-middle'>
				<img src='../../assets/images/user.png'  class='media-object' style='width:180px;height:180px;margin:5px;'>
			</div>
			<div class='media-body'>
				<div class='media-heading'>
			     	<h2><strong>Sri Sai Builders</strong></h2>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Owner</b> : Sai Dattu</h4>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Cost</b> : $2.76 Cr</h4>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Type</b>: Flat/Room/Apartment</h4>
				</div>
				<div class='col-sm-6 '>
                     <h4><b>Address</b> :
                     		Madhapur,Patrika Nagar street No:1 
                     </h4>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Location</b> : Hyderabad</h4>
				</div>
				<div class='col-sm-6 text-right'>
                     <button class='btn btn-success'>See Info</button>
				</div>
			</div>
		</div>
	</div>
	<div class='col-sm-12 section-2-property-details'>
		<div class='media'>
			<div class='media-left media-middle'>
				<img src='../../assets/images/user.png'  class='media-object' style='width:180px;height:180px;margin:5px;'>
			</div>
			<div class='media-body'>
				<div class='media-heading'>
			     	<h2><strong>Sri Sai Builders</strong></h2>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Owner</b> : Sai Dattu</h4>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Cost</b> : $2.76 Cr</h4>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Type</b>: Flat/Room/Apartment</h4>
				</div>
				<div class='col-sm-6 '>
                     <h4><b>Address</b> :
                     		Madhapur,Patrika Nagar street No:1 
                     </h4>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Location</b> : Hyderabad</h4>
				</div>
				<div class='col-sm-6 text-right'>
                     <button class='btn btn-success'>See Info</button>
				</div>
			</div>
		</div>
	</div>
	<div class='col-sm-12 section-2-property-details'>
		<div class='media'>
			<div class='media-left media-middle'>
				<img src='../../assets/images/user.png'  class='media-object' style='width:180px;height:180px;margin:5px;'>
			</div>
			<div class='media-body'>
				<div class='media-heading'>
			     	<h2><strong>Sri Sai Builders</strong></h2>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Owner</b> : Sai Dattu</h4>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Cost</b> : $2.76 Cr</h4>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Type</b>: Flat/Room/Apartment</h4>
				</div>
				<div class='col-sm-6 '>
                     <h4><b>Address</b> :
                     		Madhapur,Patrika Nagar street No:1 
                     </h4>
				</div>
				<div class='col-sm-6'>
                     <h4><b>Location</b> : Hyderabad</h4>
				</div>
				<div class='col-sm-6 text-right'>
                     <button class='btn btn-success'>See Info</button>
				</div>
			</div>
		</div>
	</div>
</div>
